body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
    background-color: #6b7fa4;
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: aliceblue;
}

header h1 {
	margin: 0;
}



.main{
    /* display: block; */
    text-align: center;
    align-items: center
};

section{
    width: 100%;
    /* display: inline; */
}

section img {
    margin-top: 5rem;
    height: 50vh;
	margin: 0 auto;
	max-width: 50%;
}

.box{
    border: 2px solid white;
    /* display: block; */

}